  body{
    color: #ffffff;
    padding-top: 3%;
    font-weight: bold;
  }
  a{
    color: #ffffff;
    border: 3px solid #a7a7d0;
    font-weight: bold;

  }
  .navb{

  margin-top: 16%;
  }
.btn.btn-default.active{
  color:#a33385;
  background-color: white;
  text-align: center;
  font-weight: bold;

}
.btn.btn-default{
  font-weight: bold;
  background: transparent;
  border:2px solid white;
  color:white;

}
    .times{
      cursor:pointer;
    }
   p{
    margin-bottom: 0;
  }
  #post_link{
    background: transparent;
    border: 2px solid white;
  }
/*  .form-control {
    color:#ffffff!important;
  }*/
  hr{
    border: 1px solid;
  }
  label{
    font-size: 25px;
  }
/**::-webkit-input-placeholder {
    color: white!important;
    opacity: 0.6!important;
}*/
/**::-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent!important;
    background-image: none!important;
    color:#ffffff!important;
}*/
/*textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #db344e inset;
    background:transparent;
}*/
.fa.fa-instagram{
  font-size: 6em;
}
@media screen and (max-width: 1200px) {
  #fa-instagram {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

}
@media screen and (max-width: 800px) {
 .btn.btn-default.active{
  margin-top: 3%;
  width:100%;

}
.btn.btn-default{
  margin-top: 3%;
  width:100%;
  }
  .submit{
  padding-right: 20%;
  }

}
#results{
  width: 70%;
  margin: auto;
}
 button{
  width:20%!important;
 }
