html {
  position: relative;
  min-height: 100%;
  /*overflow:hidden;*/
}
a{
  font-size:15px!important;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
	border-top:1px solid;
	text-align: center;
	background: transparent;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 70px;
}
hr{
    margin-top: 0px;
    margin-bottom:30px;
}
button{
	cursor: pointer;
}

.navb{
	width:100%;    		
	}
#lang{
	width: 15%;
	margin: auto;

}
#pp_link{
      font-size:20px!important;
    }
#downloadAccountB{
	width: 107%!important;
}
@media screen and (max-width: 800px) {
    hr{
	    margin-top: 0px!important;
	    margin-bottom:0px!important;
    }
    #pp_link{
    	padding-left:10%;
    	font-size:15px;
    }
    #downloadAccountB{
    	width:100%!important;
    }
    body{
  		margin-bottom: 100px!important;
    }
    .footer{
    	height: 100px!important;
    	font-size:13px;
    }
}

.fa.fa-instagram{
	margin-left:70px;
}
 .lang-input{
	/*width:45%!important;*/

}	

}
select{
	    margin-bottom: 10px;
}

