  body{
    color: #ffffff;
    padding-top: 3%;
    font-weight: bold;
    background: url(/static/images/11.jpg) no-repeat  fixed;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  }


.btn.btn-default.active{
  color:#a33385;
  background-color: white;
  text-align: center;
  font-weight: bold;

}
.btn.btn-default{
  font-weight: bold;
  background: transparent;
  border:2px solid white;
  color:white;
  
}
.card-body{
     color: #5c5b5b;
    font-size: 12px;
￼    font-family: inherit;
}
    .times{
      cursor:pointer;
    }
   p{
    margin-bottom: 0;
  }
  #post_link{
    background: transparent;
    border: 2px solid white;
  }
/*  .form-control {
    color:#ffffff!important;
  }*/
  
  label{
    font-size: 25px;
  }



#results{
  width: 80%;
  margin: auto;
}
 button{
  width:20%;
 }

html {
  position: relative;
  min-height: 100%;
  /*overflow:hidden;*/
}
a{
  font-size:15px;
  color: #ffffff;
  border: 3px solid #a7a7d0;
  font-weight: bold;

}
#navbar{
  text-align: center;
  width: 70%;
  margin:auto;
}
.navb{
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  width:25%;
  }

.footer {
	border-top:1px solid;
	text-align: center;
	background: transparent;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 60px;
}
hr{
    margin-top: 1%;
    margin-bottom:30px;
    width: 70%;
   border: 1px solid;

}
button{
	cursor: pointer;
}

#lang{
	width: 15%;
	margin: auto;

}
#username, #multi_post_links{
width:60%;
margin:auto;
}
.col-md-12{
  text-align: center;
}
#pp_link{
    text-decoration: none;

  margin-left:auto;
  border: none;
  color:white;
  font-size:20px!important;
    }
#lang_form{
  margin-right:auto;
}

.fa.fa-instagram{
  margin-left:70px;
  font-size: 6em;
}

#lang-select{
  padding-top: 0px;height: 30px
}
}
select{
      margin-bottom: 10px;
}

#function-buttons{
  display:none;
  text-align:center;
}
.alert{
  display: none;
}
#multi-function-buttons{
  text-align:center;
}
#progress-bar{
  width: 0%; display:none
}
@media screen and (max-width: 1200px) {

  .fa-instagram {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {

  hr{
    margin-top:1%;
  }
  a{
    font-size:11px!important;
  }
}
@media screen and (max-width: 800px) {
    h1{
      font-size: 1.8rem;
    }
    #username,  #multi_post_links{
      width: 90%
    }
    #function-buttons{
      margin:auto;
      width: 90%;
    }
    hr{
      margin-top:1%;
      width: 95%;
    }
    #navbar{
      width: 100%;
    }

    body{
      margin-bottom: 100px!important;
      overflow-x:hidden
    }
    #loadMoreButton{
      width: 50%;
    }
    select{
      padding-top:3%!important;
    }
    .footer{
      /*height: 100px!important;*/
      font-size:13px;
    }
 .btn.btn-default.active{
  margin-top: 3%;
  width:100%;

  }
  .function{

      width:49%!important;
  }
  .card{
      margin:auto;
      margin-bottom:3%;
  }
  #multi-function-buttons{
    margin:auto;
    width:90%;
  }
  .btn.btn-default{
  margin-top: 3%;
  width:100%;
  }
  .submit{
  padding-right: 20%;
  }
}


