p{
    margin-bottom: 0;
  }
  #downloadButton{
   display: none;
  }
  .card{
      /*margin:auto;*/
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%;
  }
textarea{
  height:100px;
}