
a{
  color: #ffffff;
  border: 3px solid #a7a7d0;
  font-weight: bold;

}
.ticks .fa-check{
  position: absolute;
  left: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 30px;
  padding-top: 7px;
  font-size: 14px;
  color: white;
  text-align: center;
}
.fa.fa-check.active {
      background: #3f6df6;
}

.active img {
    opacity: .65;
}
.active video {
    opacity: .65;
}
  
.card{
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    width: 32%;
}

p{
    margin-bottom: 0;
}

.btn.btn-default.active{
  color:#a33385;
  background-color: white;
  text-align: center;
  font-weight: bold;

}
.btn.btn-default{
  font-weight: bold;
  background: transparent;
  border:2px solid white;
  color:white;
}
.card-body{
  color: #5c5b5b;
  font-size: 12px;
  font-family: inherit;
}
.times{
      cursor:pointer;
}

#post_link{
    background: transparent;
    border: 2px solid white;
}

label{
    font-size: 25px;
}

.fa.fa-instagram{
  font-size: 6em;
}

@media screen and (max-width: 1200px) {
  #fa-instagram {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }

}

@media screen and (max-width: 800px) {
 .btn.btn-default.active{
  margin-top: 3%!important;
  width:100%;

}
video{
    width: 100%!important;
}
.function{
  width:49%!important;
}
.card{
      margin-bottom: 3%;
      width: 100%!important;
  }
.btn.btn-default{
  margin-top: 3%;
  width:100%;
  }
  .submit{
  padding-right: 20%;
  }

}
#results{
  margin: auto;
}
 button{
  width:20%;
 }
#results_row{
  width:90%;
  margin:auto;
}