<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/tipsy.css" type="text/css" />
    <style media="screen">
    .ticks .fa-check{
    border: thick solid cornflowerblue;
    position: absolute;
    left: -11px;
    top: 0px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    padding-top: 4px;
    font-size: 14px;
    color: white;
    text-align: center;
    }
    .fa.fa-check.active {
        background: #3f6df6;
    }
    .card.active{
    opacity: .65;
    }
    /*.active {
    opacity: .65;
}*/
    .card{
        cursor: pointer;
    }
   p{
    margin-bottom: 0;
  }
    </style>
</head>
<body>
    <div class="jumbotron">
    <div class="container" >
        <div class="row">
            <div class="col-md-2">
            <a href="/" class="btn btn-default  navb">Download Image</a>
            </div>
            <div class="col-md-2">
            <a href="/multi" class="btn btn-default active navb">Multiple Download</a>
            </div>
            <div class="col-md-2">
            <a href="/video" class="btn btn-default navb">Download Video</a>
            </div>
            <div class="col-md-2">
            <a href="/backup" class="btn btn-default navb">Download Account</a>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6">
              <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
                  <span aria-hidden="true" class="times">&times;</span>
                </button>
                  <p id="error-msg"></p>
              </div>
              <form action="">
                <div class="form-group">
                  <label>Enter Instagram Post Links</label>
                  <textarea type="text" style="height:100px" id = "multi_post_links" class="form-control input-lg" placeholder="Enter links"></textarea>
                </div>
                <button type="submit" id="submit" class="btn btn-default">GO</button>
              </form>
              <br>
            </div>
      </div>


      <div class="pull-right" id="function-buttons"style="display:none;">
        <button class="btn btn-info" onclick="toggleAllCards(this, 'jpg')"> Select all Images </button>
        <button class="btn btn-info" onclick="toggleAllCards(this, 'mp4')"> Select all Videos </button>
        <button class="btn btn-success"  onclick="downloadZIP()"> Download Zip </button>
      </div>
      <br><br>
      <div class="row" >
        <div class="card-columns" id="results" >

        </div>
    </div>
    <div class="row">
    </div>

</div>
</div>

<script>
var csrf_token = '{{ csrf_token }}';
</script>
<script src="/static/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script type='text/javascript' src='/static/js/jquery.tipsy.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script src="/static/js/jszip.min.js" charset="utf-8"></script>
<script src="/static/js/FileSaver.js" charset="utf-8"></script>
<script src="/static/js/multi.js" charset="utf-8"></script>
<script src="/static/js/save.js" charset="utf-8"></script>
<script type='text/javascript'>
 $(function() {
   $('a[rel=tipsy]').tipsy({fade: true, gravity: 'n'});
 });
</script>
</body>

</html>
