{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <meta name="description" content="Instagram Posts download">
  <meta name="description" content="Instagram Images download">
  <meta name="description" content="Instagram Videos download">
  <meta name="description" content="Instagram Carousels download">
  <meta name="description" content="Instagram Account Zip download">
  <meta name="description" content="Instagram Stories download">
  <meta name="description" content="Instagram download">
  <meta name="description" content="English Chinese Translation">
  <meta name="description" content="China">
  <meta name="keywords" content="Instagram Post Download Pictures Videos Carousels Stories">
  <meta name="author" content="Kissave">
  <meta name="title" content="{% trans 'Kissave.com | Download Instagram Image Video Stories Account' %}">
  {% include 'base.html' %}
  <link rel="icon" type="image/x-icon" href="/static/images/fav.png" />
  <title>{% trans 'Kissave.com | Download Instagram Image Video Stories Account' %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/account.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic.css">
</head>
<body>
    <div class="container" >
        <div class="row" id="navbar" >
            <a href="/" class="btn btn-default navb">{% trans 'Download Posts' %}</a>
            <a href="/story" class="btn btn-default navb">{% trans 'Download Stories' %}</a>
            <a href="#" class="btn btn-default active navb">{% trans 'Download Account' %}</a>
            <i class="fa fa-instagram"></i>
        </div>
    </div>
        <hr>
        <div class="row">
            <div class="col-md-12" >
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" aria-label="Close" id="alertCloseButton">
                  <span aria-hidden="true" class="times">&times;</span>
                </button>
                  <p id="error-msg"></p>
              </div>
                  <h1 id="heading">{% trans 'Enter Instagram Username' %}</h1>
              <form action="">
                <div class="form-group">
                  <input type="text" id = "username" data-toggle="tooltip" title="{% trans 'Enter a public Username to download user&#39;s content' %}" class="form-control input-lg" name="username" placeholder="{% trans 'Instagram Username' %}">
                </div>
              <div style="text-align: center">
                <button type="submit" id="submit" data-placement="left" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Click to preview user&#39;s posts' %}">{% trans 'Go' %}</button>
              </div>
              </form>
              <br>
              <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">0%</div>
              </div>
              <br>
            </div>
      </div>

      <div id="function-buttons">
      <!-- Make sure there's no trailing spaces in text in button tags, used in js -->
        <button class="btn btn-default selectAll" type='jpg'>{% trans 'Select all Images' %}</button>
        <button class="btn btn-default selectAll" type='mp4'>{% trans 'Select all Videos' %}</button>
        <button class="btn btn-default" id="downloadButton" type="downloadUserMedia">{% trans 'Download' %}</button>
      </div>

            <br><br>

      <div class="row" >
        <div class="card-columns" id="results" data-toggle="tooltip" title="{% trans 'Right click or tap hold and select save option to download image/video on your system.' %}">
        </div>
    </div>
      <div id="loadMoreButtonDiv" style="text-align: center;display: none;">
      <button class="btn btn-default" id="loadMoreButton">{% trans 'Load More' %}</button><br><br>
      </div>
</div>

{% include 'footer.html' %}
<script src="/static/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
<script src="/static/js/jszip.min.js" charset="utf-8"></script>
<script src="/static/js/FileSaver.js" charset="utf-8"></script>
<script src="/static/js/save.js" charset="utf-8"></script>
<script src="/static/js/utils.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
var csrf_token = '{{ csrf_token }}';
if ((/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) || (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1)){
  console.log('ios detected || safari detected');
  jQuery.getScript("/static/js/account_iphone.js");
  $('#progress-bar').remove();
  $('#function-buttons').remove();
  if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream){
    $('#results').attr('title', 'As you are using an iPhone, you can only download images by holding tap and selecting "Save Image" in order to download videos, use a PC.')
  }
}else{
  console.log('not ios or safari ');
  jQuery.getScript("/static/js/account.js");
  $('#results').removeAttr('title');
}
  

</script>

</body>
</html>
