  {% load i18n %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <meta name="description" content="Instagram Post Carousels Download, Instagram Pictures Videos Download, Instagram Stories Download, Instagram Account Download">
  <meta name="author" content="Kissave">
  {% block title%}
  <meta name="title" content="{% trans 'Kissave.com | Download Instagram Image Video Stories Account' %}">
  {% endblock %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-105820985-1', 'auto');
    ga('send', 'pageview');

  </script>
  <title>{% trans 'Kissave.com | Download Instagram Image Video Stories Account' %}</title>
  <link rel="icon" type="image/x-icon" href="/static/images/fav.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">