{% load i18n %}

<div class="footer" >
  <div class="container">
  <div class="row" >    
    <a href="/privacy-policy" id="pp_link">Privacy Policy</a>&emsp;
      <form action="{% url 'set_language' %}" id="lang_form" method="post">
        <div class="form-inline">
          {% csrf_token %}
          <input name="next"  class="lang-input" type="hidden" value="{{ redirect_to }}" />
          <select name="language" onchange="this.form.submit()" class="form-control lang-input">
            {% if LANGUAGE_CODE == 'ch' %}
            <option value="" disabled  selected="selected">
                  Choose language
            </option>
            {%else%}
            <option value="" disabled  selected="selected">
                  选择语言
            </option> 
            {%endif%}
            <option value="en" >
                  English (EN)
            </option>
            <option value="ch" >
                  中文 (CH)
            </option>
          </select>&emsp;
        </div>
      </form>
      <br>
  </div>
      <p>Copyright © 2016-2017 Kissave. All rights reserved.</p>
  </div>
</div>