
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Lirocks for Instagram - Privacy Policy</title>
<style type="text/css">
p {
	font-family: "Helvetica Neue", Segoe, "Segoe UI", Arial, sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height: 1.375em;
}

.title {
	font-weight:bold !important;
}

a {
	color: rgb(83, 154, 190);
}
</style>
</head>

<body>
<p class="title"> Lirocks for Instagram’s Privacy Policy</p>
<p>Lirocks for Instagram is an web app providing anonymous users of Instagram to download, save, photos, videos and profile media content.</p>
<p>No user login/signup is required, every user is anonymous on our platform.</p>
<p>This Privacy Policy describes how and when Lirocks for Instagram collects, uses and shares your information when you use our Services.  Lirocks for Instagram receives your information through our forms.</p>
<p>If you have any questions or comments about this Privacy Policy, please contact us at <a href="mailto:">rishabh.agrahari.eee15@iitbhu.ac.in</a>.</p>

<p class="title">Information Collection and Use</p>
<p>We don't collect and don't use your information to provide our Services and to measure and improve our Services from time to time.</p>

<p><span class="title">Google Analytics</span>: We will also install Google Analytics in the apps, devices, or mobile apps to collect your behaviors in using our Services. </p>

<p><span class="title">Log Data</span>: When you use Lirocks for Instagram, we may receive information ("Log Data") such as your IP address, device information (including device and application IDs) and search terms. Lirocks for Instagram uses Log Data to provide, understand, and improve our Services.</p>

<p><span class="title">Information Sharing and Disclosure</span><br>
We do not disclose your private personal information except in the limited circumstances described here.</p>

<p><span class="title">Changes to this Policy</span><br>
We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at
<a href="https://lirocks.herokuapp.com/privacy-policy">https://lirocks.herokuapp.com/privacy-policy</a>. If we make a change to this policy that, in our sole discretion,
 is material, we will update <a href="https://lirocks.herokuapp.com/privacy-policy">https://lirocks.herokuapp.com/privacy-policy</a>. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>

<p>Effective: 25th August 2017</p>

</body>
</html>
