{% load i18n %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <meta name="description" content="Instagram Posts download">
  <meta name="description" content="Instagram Images download">
  <meta name="description" content="Instagram Videos download">
  <meta name="description" content="Instagram Carousels download">
  <meta name="description" content="Instagram Stories download">
  <meta name="description" content="Instagram Account Zip download">
  <meta name="description" content="Instagram download">
  <meta name="description" content="English Chinese Translation">
  <meta name="description" content="China">
  <meta name="title" content="{% trans 'Privacy Policy' %} | Download Instagram Image Video Account">

  {% include 'base.html' %}
  <link rel="icon" type="image/x-icon" href="/static/images/fav.png" />
<title>{% trans 'Kissave.com | Download Instagram Image Video Stories Account' %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/privacy.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic.css">

</head>
<body>

    <div class="container" >
        <div class="row">
            <div class="col-md-3 ">
           </div>
            <div class="col-md-5 ">
            <h1 style="font-size: 60px">{% trans 'Privacy Policy' %}</h1>
            </div>
            <div class="col-md-2" id="fa-instagram">
            <i class="fa fa-instagram"></i>
          </div>
        </div>
        <hr>
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <ul class="list-group">
        {% if LANGUAGE_CODE == 'en' %}
        <li class="list-group-item">1. You need to be responsible for all content sent to Kissave, such as: links, pictures and other information; Kissave provides online image / video saving, only for personal use (fair use); If you need to use publicly or commercially relevant content, you must obtain the relevant content. The copyright owner agrees that Kissave is not responsible for the infringement of the user's abuse of the download; Kissave is free of charge and does not provide any guarantee for the validity of the service; Kissave reserves the right to modify and terminate the service at any time; If you are the copyright owner of the relevant content, hope that we shield your relevant content, please contact us by visiting the public number;</li>
  		
  		<li class="list-group-item">2. Personal information: <br>Kissave does not collect, store, and analyze the user's personal information and content. Users do not have to use the Instagram account or password to use the Kissave service.</li>

  		<li class="list-group-item">3. Download content:<br>The Kissave itself does not download and store the contents of Instagram, Youtube and so on. If you have deleted the contents on Instagram, you cannot access or save it by means of Kissave.</li> 
		<li class="list-group-item">Contact Us <br> lichen123321123467@gmail.com <br>Copyright © 2016-2017 Kissave.All rights reserved.</li>
		{%else%}
		<li class="list-group-item">
			使用「Kissave」服务就表示您接受以下条款：<br>	你需对所有发至Kissave的内容负责，比如：链接、图片等信息；
			Kissave提供的在线图片/视频保存功能，仅限于个人使用（合理使用；
			如果你需要公开使用或者商用相关内容，必须自行获得相关内容版权所有人同意；
			Kissave不对用户滥用下载内容造成的侵权问题负责；
			Kissave为免费服务，不对服务的有效性提供任何保证；
			Kissave保留随时修改、终止服务的权利；
			如果你是相关内容版权所有人，希望我们屏蔽你的相关内容，请到关注公众号联系我们；
		</li>
		<li class="list-group-item">隐私政策<br>
		1.个人信息<br>「Kissave」不会收集、存储、分析用户的个人信息及所存内容。用户使用「Kissave」服务无需用到 Instagram账号或密码。</li>
		
		<li class="list-group-item">2.下载内容<br>
「Kissave」本身不会对 Instagram、Youtube等上的内容进行下载、存储。如您在Instagram上内容已删除，则无法通过「Kissave」对它进行访问或保存。`</li>
		<li class="list-group-item">
		联系我们 
		</li>
    <li class="list-group-item">
      
    <div class="center-block" style="text-align: center;">
    <img src="/static/images/qr.jpg" style="height: 300px;width: 300px;padding-right:8px">
    </div>
    </li>
		{%endif%}
		</ul>
        </div>
</div>
<div class="row">
	
            <div class="col-md-3">
           </div>
            <div class="col-md-2 ">
            <a href="/" class="btn btn-default navb">{% trans 'Download Posts' %}</a>
            </div>
            <div class="col-md-2 ">
            <a href="/story" class="btn btn-default navb">{% trans 'Download Stories' %}</a>
            </div>
            <div class="col-md-2 ">
            <a href="#" id="downloadAccountB" class="btn btn-default navb">{% trans 'Download Account' %}</a>
            </div>
            <div class="col-md-2"  	>
          </div>
</div>
        </div>
        </div>
<footer class="fixed-bottom">
  <div class="container">
    <div class="pull-right">
      <form action="{% url 'set_language' %}" method="post">
        <div class="form-inline">
          {% csrf_token %}
          <!-- <label style="font-size: 18px;">{% trans 'Choose language' %}&emsp;</label> -->
          <input name="next"  class="lang-input" type="hidden" value="{{ redirect_to }}" />
          <select name="language" style="width:100%!important;padding-top: 3px;" onchange="this.form.submit()" class="form-control lang-input">
            {% if LANGUAGE_CODE == 'ch' %}
            <option value="" disabled  selected="selected">
                  Choose language
            </option>
            {%else%}
            <option value="" disabled  selected="selected">
                  选择语言
            </option> 
            {%endif%}
            <option value="en" >
                  English (en)
            </option>
            <option value="ch" >
                  中文 (ch)
            </option>
          </select>&emsp;
        </div>
      </form>
    </div>
  </div>
</footer>
<br><br>
</body>
</html>
