<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style media="screen">
    .ticks .fa-check{
    position: absolute;
    left: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30px;
    padding-top: 7px;
    font-size: 14px;
    color: white;
    text-align: center;
    }
    .fa.fa-check.active {
        background: #3f6df6;
    }
    .active img {
    opacity: .65;
    }
    .active video {
    opacity: .65;
    }
    .card{
        cursor: pointer;
    }
   p{
    margin-bottom: 0;
  }
    </style>
</head>
<body>
    <div class="jumbotron">
    <div class="container" >
        <div class="row">
        <a href="/" class="btn btn-default">Download Image</a>
        <a href="/video" class="btn btn-default">Download Video</a>
        <a href="/backup" class="btn btn-default active">Backup your Instagram</a>

        </div><br>
        <div class="row">
            <div class="col-sm-6">
              <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
                  <span aria-hidden="true" class="times">&times;</span>
                </button>
                  <p id="error-msg"></p>
              </div>
              <form action="">
                <div class="form-group">
                  <label>Enter Instagram Username</label>
                  <input type="text" id = "username" class="form-control input-lg" name="username" placeholder="Instagram Username">
                </div>
                <button type="submit" id="submit" class="btn btn-default">GO</button>
              </form>
              <br>
            </div>
      </div>


      <div class="pull-right" id="function-buttons"style="display:none;">
        <button class="btn btn-info" onclick="toggleAllCards(this, 'jpg')"> Select all Images </button>
        <button class="btn btn-info" onclick="toggleAllCards(this, 'mp4')"> Select all Videos </button>
        <button class="btn btn-success"  onclick="downloadZIP()"> Download Zip </button>
      </div>
      <br><br>
      <div class="row" >
        <div class="card-columns" id="results" ></div>
    </div>
      <div id="loadMoreButtonDiv" style="text-align: center;display: none;">
      <button class="btn btn-info" id="loadMoreButton" onclick="loadMore()">Load More</button>
      </div>
    <div class="row">
    </div>

</div>
</div>

<script>
var csrf_token = '{{ csrf_token }}';
</script>
<script src="/static/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="/static/js/jszip.min.js" charset="utf-8"></script>
<script src="/static/js/FileSaver.js" charset="utf-8"></script>
<script src="/static/js/backup.js" charset="utf-8"></script>
<script src="/static/js/save.js" charset="utf-8"></script>

</body>
</html>
