<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/tipsy.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/index.css" type="text/css" />

    <style media="screen">
   p{
    margin-bottom: 0;
  }
  #downloadButton{
   display: none;
  }
  .card{
      /*margin:auto;*/
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2%;
  }
    </style>
</head>
<body style="background: url(/static/11.jpg) no-repeat fixed;">
    <div class="container" >
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
              <a href="#" class="btn btn-default  active navb">Download Instagram Posts</a>
            </div>

            <div class="col-md-3">
              <a href="/account" class="btn btn-default navb">Download Account</a>
            </div>
            <div class="col-md-3" id="fa-instagram">
              <i class="fa fa-instagram"></i>
            </div>
        </div>
      <br>
      <hr size="50">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-sm-8">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
            <button type="button" class="close" aria-label="Close" onclick="closeAlert()">
              <span aria-hidden="true" class="times">&times;</span>
            </button>
              <p id="error-msg"></p>
          </div>
          <form action="">
            <div class="form-group">
              <label>Download Instagram Posts</label>
              <textarea data-toggle="tooltip" title="You can enter multiple Instagram links seperated by new line." type="text" style="height:100px" id = "multi_post_links" class="form-control input-lg" placeholder="Enter Instagram Post links"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div id="function-buttons" style="text-align:center;">
        <button type="submit" id="submit" data-toggle="tooltip" title="Click to preview the posts before download."class="function btn btn-default" > GO </button>
        <button  class="function btn btn-default" id="downloadButton" onclick="downloadMulti()"> Download Zip </button>
      </div>
      <br>
      <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%; display:none">0%</div>
      </div>
      <br><br>
      <div class="row" id="results">
        <!-- <div class="card-columns"  >
        </div> -->
      </div>
    </div>

<script>
var csrf_token = '{{ csrf_token }}';
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
<script src="/static/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script type='text/javascript' src='/static/js/jquery.tipsy.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script src="/static/js/jszip.min.js" charset="utf-8"></script>
<script src="/static/js/FileSaver.js" charset="utf-8"></script>
<script src="/static/js/multi.js" charset="utf-8"></script>
<script src="/static/js/save.js" charset="utf-8"></script>
</body>

</html>
