{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
  <title>{% trans 'Download Instagram User Account' %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/story.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic.css">
</head>
<style type="text/css" media="screen">

</style>
<body   style="background: url(/static/11.jpg) no-repeat  fixed" >
    <div class="container" >
        <div class="row">
            <div class="col-md-2 ">

           </div>
            <div class="col-md-2 ">
            <a href="/" class="btn btn-default navb">{% trans 'Download Posts' %}</a>
            </div>
            <div class="col-md-2">
            <a href="#" class="btn btn-default active navb">{% trans 'Download Stories' %}</a>
            </div>
            <div class="col-md-2">
            <a href="/account" class="btn btn-default navb">{% trans 'Download Account' %}</a>
            </div>
            <div class="col-md-3" id="fa-instagram">
            <i class="fa fa-instagram"></i>
          </div>
        </div><br>
        <hr size="50">

        <div class="row">
        <div class="col-md-2"></div>

            <div class="col-sm-8">
              <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                <button type="button" class="close" id="alertCloseButton" aria-label="Close">
                  <span aria-hidden="true" class="times">&times;</span>
                </button>
                  <p id="error-msg"></p>
              </div>
              <form action="">
                <div class="form-group">
                  <label>{% trans 'Enter Instagram Username' %}</label>
                  <input type="text"  id = "username" data-toggle="tooltip" title="{% trans 'Enter a public Username to download user&#39;s stories' %}"class="form-control input-lg" name="username" placeholder="{% trans 'Instagram Username' %}">
                </div>
              <div style="text-align: center">
                <button type="submit" id="submit" data-placement="left" class="btn btn-default" data-toggle="tooltip" title="{% trans 'Click to preview user&#39;s stories' %}">{% trans 'Go' %}</button>
              </div>
              </form>
              <br>
              <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%; display:none">0%</div>
              </div><br>
            </div>
      </div>


      <div id="function-buttons" style="display:none;text-align:center;">
      <!-- Make sure there's no trailing spaces in text in button tags, used in js -->
        <button class="btn btn-default selectAll" type='jpg'>{% trans 'Select all Images' %}</button>
        <button class="btn btn-default selectAll" type='mp4'>{% trans 'Select all Videos' %}</button>
        <button class="btn btn-default" id="downloadButton" type="downloadUserStory" >{% trans 'Download' %}</button>
      </div>
      <br><br>
      <div class="row" id="results">
    </div>
      <br><br>
</div>

<footer class="fixed-bottom">
  <div class="container">
    <div class="pull-right">
      <form action="{% url 'set_language' %}" method="post">
        <div class="form-inline">
          {% csrf_token %}
          <label style="font-size: 20px;">{% trans 'Choose language' %}&emsp;</label>
          <input name="next" class="form-control input-sm" type="hidden" value="{{ redirect_to }}" />
          <select name="language" class="form-control">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ lang.1 }} ({{ lang.0 }})
            </option>
          {% endfor %}
          </select>&emsp;
        <input type="submit" class="btn btn-default" value= "{% trans 'Go' %}" />
        </div>
      </form>
    </div>
  </div>
<br><br>
</footer>
<script src="/static/js/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
<script src="/static/js/jszip.min.js" charset="utf-8"></script>
<script src="/static/js/FileSaver.js" charset="utf-8"></script>
<script src="/static/js/save.js" charset="utf-8"></script>
<script src="/static/js/story.js" charset="utf-8"></script>
<script src="/static/js/utils.js" type="text/javascript" charset="utf-8"></script>
<script>
var csrf_token = '{{ csrf_token }}';
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
$(document).on('show.bs.tooltip', function (e) {
  setTimeout(function() {   //calls click event after a certain time
   $('[data-toggle="tooltip"]').tooltip('hide');
}, 4000);
});
</script>

</body>
</html>
